body {
    background-color: rgb(255, 255, 255);
    font: 400 0.688em/1.38 Roboto;
    color: rgb(255, 255, 255);
}

.container-idname--account_menu- {
    position: relative;
    float: left;
    clear: both;
    z-index: 4;
    width: 18.431372549%;
    height: 148px;
    margin: -642px 0 0 71.3955299999%;
    overflow: hidden;
}

.container-idname--account_menu-:hover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.menu {
    display: block;
    float: left;
    clear: both;
    width: 99.4696279108%;
    height: 64px;
    overflow: hidden;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
    transition: 0s;
}

.text {
    float: left;
    width: 56.9999999999%;
    min-height: 24px;
    margin: 11px 0 0 2.40148%;
    font-size: 1.091em;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.wrapper {
    float: left;
    clear: both;
    width: 95.1970443349%;
    height: 425px;
    margin: 18px 0 0 2.46113%;
    border-radius: 4px;
    overflow: hidden;
}

._button {
    display: block;
    float: left;
    letter-spacing: 1px;
}

._container {
    position: relative;
    float: left;
    clear: both;
    z-index: 3;
    width: 79.6078431372%;
    height: 504px;
    margin-left: 10.19608%;
    background-color: rgba(168, 168, 168, 0.75);
}

._element {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(27, 46, 174, 0.8);
}

._element:active {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(139, 163, 236, 0.64);
}

.menu ._button {
    width: 99.7589760638%;
    height: 32px;
    margin-left: -0.39157%;
    background-color: rgb(71, 86, 190);
    font-size: 1.091em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container-2 {
    position: relative;
    float: left;
    z-index: 17;
    width: 18.484987745%;
    height: 148px;
    margin: -642px 0 0 71.45374%;
}

.container-3 {
    bottom: 0;
    z-index: 5;
    height: 55px;
}

.container-4 {
    top: 0;
    height: 84px;
}

._button-1 {
    position: relative;
    z-index: 12;
    width: 10.1960784313%;
    height: 84px;
    margin-left: 9.19884%;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-2 {
    position: relative;
    z-index: 11;
    width: 10.1960784313%;
    height: 84px;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-3 {
    position: relative;
    z-index: 10;
    width: 10.1960784313%;
    height: 84px;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-4 {
    position: relative;
    z-index: 9;
    width: 10.1960784313%;
    height: 84px;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-5 {
    position: relative;
    z-index: 8;
    width: 10.1960784313%;
    height: 84px;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-6 {
    position: relative;
    z-index: 7;
    width: 10.1960784313%;
    height: 84px;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-7 {
    position: relative;
    clear: both;
    z-index: 6;
    width: 18.431372549%;
    height: 30px;
    margin: 25px 0 0 10.19608%;
    font-size: 1.091em;
    text-align: left;
    color: rgb(49, 59, 129);
}

._button-1:hover,
._button-7:hover {
    background-color: rgba(0, 0, 0, 0);
}

.container ._button-8 {
    width: 44.4444444444%;
    height: 84px;
    margin-left: 54.9100899999%;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.menu ._button-10 {
    clear: both;
}

.menu ._button-9 {
    overflow: hidden;
}

.menu ._button-9:hover {
    background-color: rgb(71, 86, 190);
}

.text a,
.text em,
.text span {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}