body {
    background-color: rgb(255, 255, 255);
    font: 400 0.75em/1.38 Roboto;
    color: rgb(255, 255, 255);
}

.container-idname--account_menu- {
    position: relative;
    float: left;
    z-index: 15;
    width: 18.431372549%;
    height: 148px;
    margin: -83px 0 0 32.55668%;
    overflow: hidden;
}

.container-idname--account_menu-:hover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.element {
    position: relative;
    float: left;
    z-index: 14;
    width: 18.431372549%;
    height: 188px;
    margin-left: 10.1976099999%;
    border-radius: 30px;
    background-color: rgb(222, 222, 222);
}

.image {
    display: block;
    float: left;
    width: 14px;
    height: auto;
    margin: 15px 0 0 73.42211%;
    overflow: hidden;
}

.menu {
    display: block;
    float: left;
    clear: both;
    width: 99.4696279108%;
    height: 64px;
    overflow: hidden;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
    transition: 0s;
}

.text {
    float: left;
    min-height: 24px;
    font-size: 1em;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

._button {
    display: block;
    float: left;
    letter-spacing: 1px;
}

._container {
    float: left;
    background-color: rgba(168, 168, 168, 0.75);
}

.menu ._button {
    width: 99.7589760638%;
    height: 32px;
    margin-left: -0.39157%;
    background-color: rgb(71, 86, 190);
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container-1 {
    position: relative;
    float: left;
    clear: both;
    z-index: 21;
    width: 18.484987745%;
    height: 148px;
    margin: -148px 0 0 71.47059%;
}

.container-2 {
    position: relative;
    z-index: 13;
    width: 60.1960784313%;
    height: 188px;
    margin-left: 0.97733%;
}

.container-3 {
    clear: both;
    width: 79.6078431372%;
    height: 90px;
    margin: 30px 0 0 10.1976099999%;
}

.container-4 {
    clear: both;
    width: 79.6078431372%;
    height: 90px;
    margin: 30px 0 0 10.1976102941%;
}

.container-5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 16;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    background-color: rgba(27, 46, 174, 0.8);
}

.container-6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84px;
    margin: 0 auto;
    background-color: rgba(27, 46, 174, 0.8);
}

.container-5:active,
.container-6:active {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(139, 163, 236, 0.64);
}

.text-1 {
    width: 23.1527093596%;
    margin: 41px 0 0 1.64648%;
    text-indent: 4px;
}

.text-2 {
    position: relative;
    clear: both;
    z-index: 9;
    width: 27.1986970684%;
    margin: 22px 0 0 1.63121%;
    text-indent: 4px;
}

.text-3 {
    position: relative;
    clear: both;
    z-index: 8;
    width: 23.1527093596%;
    margin: -46px 0 0 1.64648%;
    text-indent: 4px;
}

.text-4 {
    position: relative;
    z-index: 10;
    width: 23.1527093596%;
    margin: -1px 0 0 1.64648%;
    text-indent: 4px;
}

.text-5 {
    position: relative;
    clear: both;
    z-index: 11;
    width: 23.1527093596%;
    margin: -1px 0 0 1.64648%;
    text-indent: 4px;
}

.text-6 {
    clear: both;
    width: 23.1524837133%;
    margin-left: 1.63121%;
    text-indent: 4px;
}

.text-7,
.text-8 {
    width: 20.6896551724%;
    margin: 15px 0 0 2.46113%;
}

._button-1 {
    position: relative;
    z-index: 6;
    width: 10.1960784313%;
    height: 84px;
    margin-left: 9.21569%;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-2 {
    position: relative;
    z-index: 5;
    width: 10.1960784313%;
    height: 84px;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-3 {
    position: relative;
    z-index: 4;
    width: 10.1960784313%;
    height: 84px;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-4 {
    position: relative;
    z-index: 3;
    width: 10.1960784313%;
    height: 84px;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-5 {
    position: relative;
    z-index: 2;
    width: 10.1960784313%;
    height: 84px;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-6 {
    position: relative;
    z-index: 1;
    width: 10.1960784313%;
    height: 84px;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button-7 {
    position: relative;
    clear: both;
    z-index: 22;
    width: 11.862745098%;
    height: 30px;
    margin: 25px 0 0 10.19608%;
    font-size: 1em;
    text-align: left;
    color: rgb(49, 59, 129);
}

._button-8 {
    position: relative;
    z-index: 23;
    width: 16.7647058823%;
    height: 30px;
    margin-top: 25px;
    font-size: 1em;
    text-align: left;
    color: rgb(49, 59, 129);
}

._button-1:hover,
._button-7:hover,
._button-8:hover {
    background-color: rgba(0, 0, 0, 0);
}

.container ._button-9 {
    width: 44.4444444444%;
    height: 84px;
    margin-left: 54.9100899999%;
    font-size: 0.917em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.menu ._button-10 {
    overflow: hidden;
}

.menu ._button-10:hover {
    background-color: rgb(71, 86, 190);
}

.menu ._button-11 {
    clear: both;
}

.text a,
.text em,
.text span {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}