body {
    background-color: rgb(255, 255, 255);
    font: 400 12px/1.38 Roboto;
    color: rgb(255, 255, 255);
}

.container button {
    width: 44.4444444444%;
    height: 84px;
    margin-left: 54.9100899999%;
    text-align: center;
}

button {
    display: block;
    float: left;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

sub {
    display: block;
    float: left;
    clear: both;
    width: 99.4696279108%;
    height: 64px;
    overflow: hidden;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
    transition: 0s;
}

sub button {
    width: 99.7589760638%;
    height: 32px;
    margin-left: -0.39157%;
    background-color: rgb(71, 86, 190);
    text-align: center;
}

.container .text {
    z-index: 7;
    width: 56.9999999999%;
    margin: 11px 0 0 2.40148%;
    font-weight: 300;
}

.container .wrapper {
    clear: both;
    z-index: 8;
    width: 95.1970443349%;
    height: 168px;
    margin: -3px 0 0 2.40148%;
    border-radius: 4px;
}

.container-idname--account_menu- {
    position: relative;
    float: left;
    clear: both;
    z-index: 11;
    width: 18.431372549%;
    height: 148px;
    margin: -336px 0 0 71.3955299999%;
    overflow: hidden;
}

.container-idname--account_menu-:hover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.text {
    position: relative;
    float: left;
    min-height: 24px;
    color: rgb(255, 255, 255);
}

.wrapper {
    position: relative;
    float: left;
    overflow: hidden;
}

._button {
    width: 8.2352941176%;
    height: 84px;
}

._container {
    position: relative;
    float: left;
    clear: both;
    z-index: 9;
    width: 79.6078431372%;
    height: 220px;
    margin: 32px 0 0 10.1976099999%;
    background-color: rgba(168, 168, 168, 0.75);
}

.container-2 {
    position: relative;
    float: left;
    z-index: 19;
    width: 18.484987745%;
    height: 148px;
    margin: -336px 0 0 71.47059%;
}

.container-3 {
    position: relative;
    float: left;
    z-index: 10;
    width: 79.6078431372%;
    height: 220px;
    margin: 20px 0 0 10.1976099999%;
    background-color: rgba(168, 168, 168, 0.75);
}

.container-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 14;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    background-color: rgba(27, 46, 174, 0.8);
}

.container-5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84px;
    margin: 0 auto;
    background-color: rgba(27, 46, 174, 0.8);
}

.container-4:active, .container-5:active {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(139, 163, 236, 0.64);
}

.text-2 {
    clear: both;
    z-index: 13;
    width: 45.8823529411%;
    margin: -209px 0 0 12.25337%;
    font-family: 'Noto Sans';
}

.wrapper-2 {
    z-index: 12;
    width: 75.3921568627%;
    height: 171px;
    margin: -185px 0 0 12.25337%;
}

._button-1 {
    position: relative;
    z-index: 6;
    margin-left: 10.1976099999%;
    text-align: center;
}

._button-1:hover {
    background-color: rgba(0, 0, 0, 0);
}

._button-2 {
    position: relative;
    z-index: 5;
    margin-left: 1.95466%;
    text-align: center;
}

._button-3 {
    position: relative;
    z-index: 4;
    margin-left: 1.95619%;
    text-align: center;
}

._button-4 {
    position: relative;
    z-index: 3;
    margin-left: 1.95619%;
    text-align: center;
}

._button-5 {
    position: relative;
    z-index: 2;
    margin-left: 1.95619%;
    text-align: left;
}

._button-6 {
    position: relative;
    z-index: 1;
    margin-left: 1.99755%;
    text-align: center;
}

.menu ._button-8 {
    overflow: hidden;
}

.menu ._button-9 {
    clear: both;
}

.text a, .text em {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}

.text span {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-style: inherit;
    font-size: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}

.text-1 span {
    font-family: inherit;
    font-weight: inherit;
}

.text-2 span {
    font-weight: 300;
}