body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font: 500 0.75em/1.38 Roboto;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .container {
  clear: both;
}

.container .text {
  float: left;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.wrapper {
  position: relative;
  float: left;
  clear: both;
  z-index: 56;
  width: 28.9606557377%;
  height: 24px;
  margin: -24px 0 0 19.15215%;
  background-color: rgba(255, 34, 12, 0.6);
  overflow: hidden;
}

._button {
  display: block;
  font-size: 1em;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

._element {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  min-width: none;
  height: 55px;
  min-height: nonepx;
  margin: 0 auto;
  background-color: rgb(0, 78, 139);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._element:active,
.container-1:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: rgba(139, 163, 236, 0.64);
}

.container-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 79;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  background-color: rgb(0, 78, 139);
}

.container-10 {
  position: relative;
  float: left;
  z-index: 55;
  width: 45.3278688524%;
  height: 248px;
  margin: 30px 0 0 2.78689%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-11 {
  position: relative;
  float: right;
  z-index: 53;
  width: 65.606361829%;
  height: 161px;
  margin: -152px -0.33238% 0 0;
}

.container-12 {
  float: left;
  width: 52.4590163934%;
  height: 948px;
  margin: -678px 0 0 49.87961%;
  background-color: rgba(205, 204, 204, 0.2);
}

.container-13 {
  position: relative;
  float: left;
  width: 86.40625%;
  height: 248px;
  margin: 30px 0 0 3.82813%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-13:hover {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-14 {
  position: relative;
  float: right;
  z-index: 26;
  width: 65.606361829%;
  height: 161px;
  margin: -152px -0.19881% 0 0;
}

.container-2 {
  position: absolute;
  top: 65px;
  right: 4.996875%;
  z-index: 82;
  width: 43.203125%;
  height: 47px;
  min-height: 35px;
  padding: 6px;
  border-radius: 3px;
  background-color: rgba(255, 34, 12, 0.6);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.container-2:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: rgba(139, 163, 236, 0.64);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.container-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 72;
  width: 58.828125%;
  height: 551px;
  min-height: 400px;
  margin: 260px 0 0 5%;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, .5);
}

.container-4 {
  float: left;
  width: 80.9027777777%;
  height: 274px;
  margin: 70px 0 0 0.26831%;
}

.container-5 {
  position: relative;
  float: left;
  z-index: 12;
  width: 27.5781249999%;
  height: 551px;
  margin: 260px 0 0 3.59375%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, .5);
}

.container-7 {
  position: relative;
  float: left;
  clear: both;
  z-index: 57;
  width: 100%;
  height: 948px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
}

.container-8 {
  position: relative;
  float: left;
  z-index: 42;
  width: 45.3278688524%;
  height: 248px;
  margin: 31px 0 0 2.78689%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-9 {
  position: relative;
  float: right;
  z-index: 40;
  width: 65.606361829%;
  height: 161px;
  margin: -152px -0.19881% 0 0;
}

.image-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  z-index: 77;
  width: 25px;
  margin: auto 0;
}

.image-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  z-index: 78;
  width: 25px;
  margin: auto 0;
}

.image-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 25px;
  margin: 20px 0 0 13.67188%;
}

.image-4 {
  position: relative;
  float: left;
  z-index: 7;
  width: 25px;
  margin: 20px 0 0 14.60938%;
}

.image-5 {
  width: 298px;
  margin: 102px auto 0;
}

.image-6 {
  position: relative;
  float: left;
  z-index: 30;
  width: 152px;
}

.image-7 {
  position: relative;
  float: left;
  z-index: 43;
  width: 152px;
}

.image-8 {
  position: relative;
  float: left;
  z-index: 16;
  width: 152px;
}

.text-1 {
  width: 19.21875%;
  min-height: 32px;
  margin: -774px auto 0;
  font-family: Merriweather;
  font-size: 1.667em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-10 {
  position: relative;
  z-index: 70;
  width: 27.4481951871%;
  min-height: 25px;
  margin: 30px 0 0 8.09041%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-11 {
  position: relative;
  clear: both;
  z-index: 65;
  width: 21.3903743315%;
  min-height: 25px;
  margin: 30px 0 0 0.17279%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-12 {
  position: relative;
  z-index: 62;
  width: 62.9010695187%;
  min-height: 25px;
  margin: 30px 0 0 8.58648%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  clear: both;
  z-index: 66;
  width: 21.7468805704%;
  min-height: 25px;
  margin: 30px 0 0 -0.00279%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-14 {
  position: relative;
  z-index: 67;
  width: 62.8982843137%;
  min-height: 25px;
  margin: 30px 0 0 8.52517%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  clear: both;
  z-index: 68;
  width: 21.7468805704%;
  min-height: 50px;
  margin: 30px 0 0 -0.00279%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-16 {
  position: relative;
  z-index: 69;
  width: 69.7387477718%;
  min-height: 25px;
  margin: 30px 0 0 8.45271%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-17 {
  width: 46.1522393048%;
  height: 24px;
  margin-left: -0.05157%;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-18 {
  clear: both;
  width: 92.6229508196%;
  min-height: 25px;
  margin: 32px 0 0 -0.05157%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-19 {
  position: relative;
  z-index: 13;
  width: 46.1522393048%;
  height: 24px;
  margin-left: 2.78689%;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-2 {
  width: 58.0406654343%;
  height: 25px;
  margin: 5px 0 0 3.14233%;
  padding: 4px;
  font-size: 1em;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

.text-20 {
  position: relative;
  z-index: 14;
  width: 28.9344262295%;
  height: 24px;
  margin: 43px 0 0 2.78689%;
  font-size: 1.667em;
  line-height: 1.5;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(248, 170, 0);
}

.text-24 {
  position: relative;
  clear: both;
  z-index: 33;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-25 {
  position: relative;
  z-index: 37;
  width: 42.1404682274%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-26 {
  position: relative;
  clear: both;
  z-index: 34;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-27 {
  position: relative;
  z-index: 38;
  width: 42.1349854706%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-28 {
  position: relative;
  clear: both;
  z-index: 35;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-29 {
  position: relative;
  z-index: 39;
  width: 42.1349854706%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-3 {
  position: absolute;
  top: 180px;
  left: 5%;
  z-index: 8;
  width: 19.21875%;
  min-height: 32px;
  font-family: Merriweather;
  font-size: 2.5em;
  font-weight: Regular;
  color: rgb(0, 0, 0);
}

.text-33 {
  position: relative;
  clear: both;
  z-index: 46;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-34 {
  position: relative;
  z-index: 50;
  width: 42.1404682274%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-35 {
  position: relative;
  clear: both;
  z-index: 47;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-36 {
  position: relative;
  z-index: 51;
  width: 42.1349854706%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-37 {
  position: relative;
  clear: both;
  z-index: 48;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-38 {
  position: relative;
  z-index: 52;
  width: 42.1349854706%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-39 {
  width: 52.5713221948%;
  height: 24px;
  margin: 97px 0 0 3.42529%;
  font-size: 1.667em;
  line-height: 1.5;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(248, 170, 0);
}

.text-4 {
  width: 78.2407407407%;
  min-height: 30px;
  margin-left: 0.32468%;
  font-size: 2.917em;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(248, 170, 0);
}

.text-21,
.text-30,
.text-40 {
  width: 93.9689675969%;
  min-height: 25px;
  margin-left: -0.32197%;
  font-size: 1.333em;
  letter-spacing: 2px;
  text-indent: 1px;
  color: rgba(248, 170, 0, 0.75);
}

.text-22,
.text-23,
.text-31,
.text-32,
.text-41,
.text-42 {
  clear: both;
  width: 78.9516969132%;
  max-width: 225px;
  margin-left: -0.32197%;
  font-size: 1.667em;
  color: rgb(0, 0, 0);
}

.text-43 {
  position: relative;
  clear: both;
  z-index: 19;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-44 {
  position: relative;
  z-index: 23;
  width: 42.1404682274%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-45 {
  position: relative;
  clear: both;
  z-index: 20;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-46 {
  position: relative;
  z-index: 24;
  width: 42.1349854706%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-47 {
  position: relative;
  clear: both;
  z-index: 21;
  width: 45.4685015625%;
  min-height: 25px;
  margin-left: -0.32197%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-48 {
  position: relative;
  z-index: 25;
  width: 42.1349854706%;
  min-height: 25px;
  margin-left: 12.06913%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-5 {
  clear: both;
  width: 96.5217391304%;
  max-width: 340px;
  min-height: 30px;
  margin: 10px 0 0 0.26831%;
  font: normal 2.083em/1 Merriweather-Regular;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: relative;
  z-index: 60;
  width: 21.7468805704%;
  min-height: 25px;
  margin-left: -0.00279%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-7 {
  position: relative;
  z-index: 63;
  width: 62.5222816399%;
  min-height: 25px;
  margin-left: 8.4332%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 64;
  width: 21.7468805704%;
  min-height: 25px;
  margin: 30px 0 0 -0.00279%;
  padding: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-9 {
  position: relative;
  z-index: 61;
  width: 27.0944741532%;
  min-height: 25px;
  margin: 30px 0 0 8.55025%;
  font-size: 1.333em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

._button-5 {
  position: relative;
  float: left;
  z-index: 3;
  width: 9.0625%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 14.6875%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button-6 {
  position: relative;
  float: left;
  z-index: 2;
  width: 9.140625%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 1.01563%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button-7 {
  position: relative;
  float: left;
  z-index: 1;
  width: 10.078125%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 0.46875%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button-5:hover,
._button-6:hover,
._button-7:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

._button-8 {
  position: relative;
  float: left;
  z-index: 0;
  width: 9.0625%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 0.54688%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container ._button-1 {
  float: left;
  width: 12.03125%;
  height: 65px;
  margin-left: 20.625%;
  font-weight: 400;
}

.container ._button-10 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 41;
  width: 100%;
  height: 46px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

.container ._button-11 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 54;
  width: 100%;
  height: 46px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

.container ._button-12 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 27;
  width: 100%;
  height: 46px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

.container ._button-12:hover {
  background-color: rgba(255, 34, 12, 0.6);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.container ._button-12:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.container ._button-2 {
  float: left;
  width: 12.03125%;
  height: 65px;
  margin-left: 3.51563%;
  font-weight: 400;
}

.container ._button-3,
.container ._button-4 {
  float: left;
  width: 12.03125%;
  height: 65px;
  margin-left: 3.59375%;
  font-weight: 400;
}

.container ._button-9 {
  float: left;
  clear: both;
  width: 36.9685767097%;
  height: 47px;
  margin: -36px 0 0 64.14048%;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

@media(max-width: 1020px) {
  .container .image {
    height: auto;
  }

  .container .wrapper {
    position: relative;
    z-index: 56;
    margin-top: -381px;
    margin-left: 18.75977%;
  }

  .image {
    height: auto;
  }

  ._element,
  .container-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .container-10 {
    position: relative;
    clear: none;
    z-index: 55;
    margin-top: 19px;
    margin-left: 3.54167%;
  }

  .container .container-11 {
    position: relative;
    float: left;
    z-index: 53;
    width: 94.0043389652%;
    height: 409px;
    margin-top: -136px;
    margin-right: 0;
  }

  .container .container-12 {
    margin-left: 49.87956%;
  }

  .container .container-13 {
    margin-left: 4.86193%;
  }

  .container .container-14 {
    position: relative;
    float: left;
    z-index: 26;
    width: 94.0043389652%;
    height: 409px;
    margin-top: -136px;
    margin-right: 0;
  }

  .container .container-4 {
    position: relative;
    z-index: 71;
    width: 146.1331481642%;
    height: 229px;
    margin-top: -55px;
    margin-left: -0.8303700001%;
  }

  .container .container-8 {
    position: relative;
    clear: none;
    z-index: 42;
    margin-top: -259px;
    margin-left: 3.54167%;
  }

  .container .container-9 {
    position: relative;
    float: left;
    z-index: 40;
    width: 94.0043389652%;
    height: 409px;
    margin-top: -136px;
    margin-right: 0;
  }

  .container .image-1 {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .container .image-2 {
    top: 0;
    bottom: 0;
    right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .container .image-5 {
    position: relative;
    float: left;
    clear: both;
    z-index: 11;
    margin-top: -212px;
    margin-right: 0;
    margin-left: -2.1887500001%;
  }

  .container .image-6 {
    position: relative;
    z-index: 30;
    margin-left: -10.7834%;
  }

  .container .image-7 {
    position: relative;
    z-index: 43;
    margin-left: -10.77529%;
  }

  .container .image-8 {
    position: relative;
    z-index: 16;
    margin-left: -10.77978%;
  }

  .container .text-10 {
    position: relative;
    z-index: 70;
    width: 63.4493670886%;
    margin-top: -153px;
    margin-left: 36.42789%;
  }

  .container .text-11 {
    position: relative;
    clear: none;
    z-index: 65;
    width: 63.4493670886%;
    margin-top: -85px;
    margin-left: 3.16584%;
  }

  .container .text-12 {
    position: relative;
    z-index: 62;
    width: 63.4493670886%;
    margin-top: -102px;
    margin-left: 16.35187%;
  }

  .container .text-13 {
    position: relative;
    clear: none;
    z-index: 66;
    width: 63.4493670886%;
    margin-top: -123px;
    margin-left: 0;
  }

  .container .text-14 {
    position: relative;
    z-index: 67;
    width: 63.4493670886%;
    margin-top: -51px;
    margin-left: 16.33603%;
  }

  .container .text-15 {
    position: relative;
    clear: none;
    z-index: 68;
    width: 63.4493670886%;
    margin-top: -78px;
    margin-left: 0;
  }

  .container .text-16 {
    position: relative;
    z-index: 69;
    width: 63.4493670886%;
    margin-top: 0;
    margin-left: 16.33603%;
  }

  .container .text-17 {
    position: relative;
    z-index: 9;
    width: 43.9442744403%;
    margin-top: 249px;
    margin-left: 3.66142%;
  }

  .container .text-18 {
    position: relative;
    z-index: 10;
    width: 92.8168787244%;
    margin-top: 15px;
    margin-left: 3.60738%;
  }

  .container .text-19 {
    position: relative;
    z-index: 13;
    width: 43.9442744403%;
    margin-top: 357px;
    margin-left: 3.6556%;
  }

  .container .text-2 {
    width: 60.6221884305%;
    margin-top: 3px;
    margin-left: -1.22836%;
  }

  .container .text-20 {
    position: relative;
    z-index: 14;
    width: 43.9442744403%;
    margin-top: -314px;
    margin-left: 3.54167%;
  }

  .container .text-24 {
    position: relative;
    z-index: 33;
    width: 98.4793526785%;
    margin-top: -49px;
    margin-left: -0.164%;
  }

  .container .text-25 {
    position: relative;
    z-index: 37;
    width: 40.9737723214%;
    margin-top: 99px;
    margin-left: 42.6093%;
  }

  .container .text-26 {
    position: relative;
    z-index: 34;
    width: 98.4793526785%;
    margin-top: -100px;
    margin-left: 0.80273%;
  }

  .container .text-27 {
    position: relative;
    z-index: 38;
    width: 40.966796875%;
    margin-top: 1px;
    margin-left: 42.6093%;
  }

  .container .text-28 {
    position: relative;
    z-index: 35;
    width: 98.4793526785%;
    margin-top: -91px;
    margin-left: 1.07462%;
  }

  .container .text-29 {
    position: relative;
    z-index: 39;
    width: 40.966796875%;
    margin-top: 1px;
    margin-left: 42.6093%;
  }

  .container .text-21,
  .container .text-30 {
    width: 98.4793526785%;
    margin-top: 208px;
    margin-left: 0.83294%;
  }

  .container .text-22,
  .container .text-31 {
    width: 46.5122767857%;
    margin-top: -233px;
    margin-left: 52.05213%;
  }

  .container .text-23,
  .container .text-32 {
    width: 46.6238839285%;
    margin-top: -88px;
    margin-left: -0.164%;
  }

  .container .text-33 {
    position: relative;
    z-index: 46;
    width: 98.4793526785%;
    margin-top: -49px;
    margin-left: -0.164%;
  }

  .container .text-34 {
    position: relative;
    z-index: 50;
    width: 40.9737723214%;
    margin-top: 99px;
    margin-left: 42.6093%;
  }

  .container .text-35 {
    position: relative;
    z-index: 47;
    width: 98.4793526785%;
    margin-top: -100px;
    margin-left: 0.80273%;
  }

  .container .text-36 {
    position: relative;
    z-index: 51;
    width: 40.966796875%;
    margin-top: 1px;
    margin-left: 42.6093%;
  }

  .container .text-37 {
    position: relative;
    z-index: 48;
    width: 98.4793526785%;
    margin-top: -91px;
    margin-left: 1.07462%;
  }

  .container .text-38 {
    position: relative;
    z-index: 52;
    width: 40.966796875%;
    margin-top: 1px;
    margin-left: 42.6093%;
  }

  .container .text-39 {
    width: 78.8407066725%;
    margin-left: 28.59758%;
  }

  .container .text-4 {
    position: relative;
    z-index: 59;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.79924%;
  }

  .container .text-40 {
    width: 98.4793526785%;
    margin-top: 208px;
    margin-left: 0.8286599999%;
  }

  .container .text-41 {
    width: 46.5122767857%;
    margin-top: -233px;
    margin-left: 52.05006%;
  }

  .container .text-42 {
    width: 46.6238839285%;
    margin-top: -88px;
    margin-left: -0.15969%;
  }

  .container .text-43 {
    position: relative;
    z-index: 19;
    width: 98.4793526785%;
    margin-top: -49px;
    margin-left: -0.15969%;
  }

  .container .text-44 {
    position: relative;
    z-index: 23;
    width: 40.9737723214%;
    margin-top: 99px;
    margin-left: 42.60682%;
  }

  .container .text-45 {
    position: relative;
    z-index: 20;
    width: 98.4793526785%;
    margin-top: -100px;
    margin-left: 0.79845%;
  }

  .container .text-46 {
    position: relative;
    z-index: 24;
    width: 40.966796875%;
    margin-top: 1px;
    margin-left: 42.60682%;
  }

  .container .text-47 {
    position: relative;
    z-index: 21;
    width: 98.4793526785%;
    margin-top: -91px;
    margin-left: 1.07035%;
  }

  .container .text-48 {
    position: relative;
    z-index: 25;
    width: 40.966796875%;
    margin-top: 1px;
    margin-left: 42.60682%;
  }

  .container .text-5 {
    position: relative;
    z-index: 58;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.60212%;
  }

  .container .text-6 {
    position: relative;
    z-index: 60;
    width: 63.4493670886%;
    margin-top: 178px;
    margin-left: 2.461%;
  }

  .container .text-7 {
    position: relative;
    clear: both;
    z-index: 63;
    width: 63.4493670886%;
    margin-top: -204px;
    margin-left: 16.33603%;
  }

  .container .text-8 {
    position: relative;
    clear: none;
    z-index: 64;
    width: 63.4493670886%;
    margin-top: -120px;
    margin-left: 3.16584%;
  }

  .container .text-9 {
    position: relative;
    z-index: 61;
    width: 63.4493670886%;
    margin-top: -153px;
    margin-left: 16.35187%;
  }

  .container-2 {
    right: auto;
  }

  .container-2:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }

  .container-3 {
    position: relative;
    z-index: 72;
    margin-top: 192px;
    margin-left: 50.697%;
  }

  .container-5 {
    position: relative;
    clear: both;
    z-index: 12;
    margin-top: -106px;
    margin-left: 12.6731%;
  }

  .container-7 {
    position: relative;
    z-index: 57;
    margin-top: 135px;
    margin-left: 13.87255%;
  }

  .image-3 {
    position: relative;
    z-index: 6;
  }

  .image-4 {
    position: relative;
    z-index: 7;
    margin-top: -25px;
    margin-left: 84.29688%;
  }

  .text-1 {
    float: right;
    margin-top: -936px;
    margin-right: 68.52022%;
    margin-left: 0;
  }

  ._button-5 {
    position: relative;
    clear: both;
    z-index: 3;
    margin-top: -168px;
    margin-left: 5.37684%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  ._button-6 {
    position: relative;
    z-index: 2;
    margin-top: -168px;
    margin-left: 26.58701%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  ._button-7 {
    position: relative;
    z-index: 1;
    margin-top: -168px;
    margin-left: 37.68076%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  ._button-5:hover,
  ._button-6:hover,
  ._button-7:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  ._button-8 {
    position: relative;
    z-index: 0;
    margin-top: -168px;
    margin-left: 48.82506%;
  }

  .container ._button-1 {
    position: relative;
    z-index: 76;
    margin-top: -123px;
    margin-left: 5.37684%;
  }

  .container ._button-10,
  .container ._button-11,
  .container ._button-12 {
    bottom: 79px;
  }

  .container ._button-2 {
    position: relative;
    z-index: 75;
    margin-top: -123px;
    margin-left: 26.58701%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 74;
    margin-top: -123px;
    margin-left: 37.68076%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 73;
    margin-top: -123px;
    margin-left: 48.82506%;
  }

  .container ._button-9 {
    width: 39.536209846%;
    margin-top: -34px;
    margin-left: 61.43977%;
  }
}

@media(max-width: 750px) {
  body {
    font-size: 0.75em;
  }

  .container .image {
    height: auto;
  }

  .container .wrapper {
    position: relative;
    z-index: 56;
    margin-left: 18.04348%;
  }

  .image {
    height: auto;
  }

  ._element,
  .container-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .container-10 {
    position: relative;
    z-index: 55;
    margin-left: 4.9275399999%;
  }

  .container .container-11 {
    position: relative;
    z-index: 53;
    width: 96.2658411531%;
  }

  .container .container-12 {
    margin-left: 49.8777199999%;
  }

  .container .container-13 {
    margin-left: 6.76452%;
  }

  .container .container-14 {
    position: relative;
    z-index: 26;
    width: 96.2658411531%;
  }

  .container .container-4 {
    position: relative;
    z-index: 71;
    width: 146.6163872607%;
    margin-left: -2.93889%;
  }

  .container .container-8 {
    position: relative;
    z-index: 42;
    margin-left: 4.9275399999%;
  }

  .container .container-9 {
    position: relative;
    z-index: 40;
    width: 96.2658411531%;
  }

  .container .image-1,
  .container .image-2 {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .container .image-5 {
    position: relative;
    z-index: 11;
    margin-top: -222px;
    margin-left: -6.60556%;
  }

  .container .image-6 {
    position: relative;
    z-index: 30;
    margin-left: -15.89558%;
  }

  .container .image-7 {
    position: relative;
    z-index: 43;
    margin-left: -15.88963%;
  }

  .container .image-8 {
    position: relative;
    z-index: 16;
    margin-left: -15.89558%;
  }

  .container .text-10 {
    position: relative;
    z-index: 70;
    width: 63.5286225402%;
    margin-left: 36.44954%;
  }

  .container .text-11 {
    position: relative;
    z-index: 65;
    width: 63.5286225402%;
    margin-left: 4.41152%;
  }

  .container .text-12 {
    position: relative;
    z-index: 62;
    width: 63.5286225402%;
    margin-left: 15.39838%;
  }

  .container .text-13 {
    position: relative;
    z-index: 66;
    width: 63.5286225402%;
    margin-top: -195px;
  }

  .container .text-14 {
    position: relative;
    z-index: 67;
    width: 63.5286225402%;
    margin-left: 15.39838%;
  }

  .container .text-15 {
    position: relative;
    z-index: 68;
    width: 63.5286225402%;
    margin-top: -150px;
  }

  .container .text-16 {
    position: relative;
    z-index: 69;
    width: 63.5286225402%;
    margin-left: 15.39838%;
  }

  .container .text-17 {
    position: relative;
    z-index: 9;
    width: 44.1024513575%;
    margin-left: 3.61662%;
  }

  .container .text-18 {
    position: relative;
    z-index: 10;
    width: 93.1625810706%;
    margin-top: 9px;
    margin-left: 3.61662%;
  }

  .container .text-19 {
    position: relative;
    z-index: 13;
    width: 44.1024513575%;
    margin-left: 3.63225%;
  }

  .container .text-2 {
    width: 61.4769418003%;
    margin-top: 4px;
    margin-left: -1.66692%;
  }

  .container .text-20 {
    position: relative;
    z-index: 14;
    width: 44.1024513575%;
    margin-left: 4.9275399999%;
  }

  .container .text-24 {
    position: relative;
    z-index: 33;
    width: 96.454326923%;
    margin-left: -0.1297300001%;
  }

  .container .text-25 {
    position: relative;
    z-index: 37;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-26 {
    position: relative;
    z-index: 34;
    width: 96.454326923%;
    margin-left: 2.58834%;
  }

  .container .text-27 {
    position: relative;
    z-index: 38;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-28 {
    position: relative;
    z-index: 35;
    width: 96.454326923%;
    margin-left: 3.04547%;
  }

  .container .text-29 {
    position: relative;
    z-index: 39;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-33 {
    position: relative;
    z-index: 46;
    width: 96.454326923%;
    margin-left: -0.1297300001%;
  }

  .container .text-34 {
    position: relative;
    z-index: 50;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-35 {
    position: relative;
    z-index: 47;
    width: 96.454326923%;
    margin-left: 2.58834%;
  }

  .container .text-36 {
    position: relative;
    z-index: 51;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-37 {
    position: relative;
    z-index: 48;
    width: 96.454326923%;
    margin-left: 3.04547%;
  }

  .container .text-38 {
    position: relative;
    z-index: 52;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-39 {
    width: 77.3431294678%;
    margin-left: 73.20527%;
  }

  .container .text-4 {
    position: relative;
    z-index: 59;
    width: 44.0035176431%;
    margin-left: 52.74829%;
  }

  .container .text-21,
  .container .text-30,
  .container .text-40 {
    width: 96.454326923%;
    margin-left: 2.681%;
  }

  .container .text-22,
  .container .text-31,
  .container .text-41 {
    width: 45.5528846153%;
    margin-left: 50.83395%;
  }

  .container .text-23,
  .container .text-32,
  .container .text-42 {
    width: 45.6530448717%;
    margin-left: -0.04942%;
  }

  .container .text-43 {
    position: relative;
    z-index: 19;
    width: 96.454326923%;
    margin-left: -0.1297300001%;
  }

  .container .text-44 {
    position: relative;
    z-index: 23;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-45 {
    position: relative;
    z-index: 20;
    width: 96.454326923%;
    margin-left: 2.58834%;
  }

  .container .text-46 {
    position: relative;
    z-index: 24;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-47 {
    position: relative;
    z-index: 21;
    width: 96.454326923%;
    margin-left: 3.04547%;
  }

  .container .text-48 {
    position: relative;
    z-index: 25;
    width: 39.9739583333%;
    margin-left: 41.13541%;
  }

  .container .text-5 {
    position: relative;
    z-index: 58;
    width: 44.1024513575%;
    margin-left: 3.50453%;
  }

  .container .text-6 {
    position: relative;
    z-index: 60;
    width: 63.5286225402%;
    margin-left: 2.38748%;
  }

  .container .text-7 {
    position: relative;
    z-index: 63;
    width: 63.5286225402%;
    margin-left: 15.39838%;
  }

  .container .text-8 {
    position: relative;
    z-index: 64;
    width: 63.5286225402%;
    margin-left: 4.41152%;
  }

  .container .text-9 {
    position: relative;
    z-index: 61;
    width: 63.5286225402%;
    margin-left: 15.39838%;
  }

  .container-2 {
    padding: 5px;
  }

  .container-2:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }

  .container-3 {
    position: relative;
    z-index: 72;
    margin-left: 68.94792%;
  }

  .container-5 {
    position: relative;
    z-index: 12;
    margin-left: 17.23542%;
  }

  .container-7 {
    position: relative;
    z-index: 57;
    margin-left: 18.86875%;
  }

  .image-3 {
    position: relative;
    z-index: 6;
    margin-left: 13.66875%;
  }

  .image-4 {
    position: relative;
    z-index: 7;
    margin-left: 84.29167%;
  }

  .text-1 {
    margin-right: 63.95625%;
  }

  ._button-5 {
    position: relative;
    z-index: 3;
    margin-left: 4.16667%;
  }

  ._button-6 {
    position: relative;
    z-index: 2;
    margin-left: 25.36875%;
  }

  ._button-7 {
    position: relative;
    z-index: 1;
    margin-left: 36.46875%;
  }

  ._button-8 {
    position: relative;
    z-index: 0;
    margin-left: 47.6%;
  }

  .container ._button-1 {
    position: relative;
    z-index: 76;
    margin-left: 4.16667%;
  }

  .container ._button-2 {
    position: relative;
    z-index: 75;
    margin-left: 25.36875%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 74;
    margin-left: 36.46875%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 73;
    margin-left: 47.6%;
  }

  .container ._button-9 {
    width: 40.3355500499%;
    margin-top: -35px;
    margin-left: 61.53655%;
    padding: 10px;
  }
}