body {
    position: relative;
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font: 500 1em/1.38 Roboto;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.container .text {
  float: left;
}

.image {
  display: block;
  width: 25px;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  font-size: 0.75em;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

._element {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  min-width: none;
  height: 55px;
  min-height: nonepx;
  margin: 0 auto;
  background-color: rgb(0, 78, 139);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._element:active,
.container-1:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: rgba(139, 163, 236, 0.64);
}

.container-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 47;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  background-color: rgb(0, 78, 139);
}

.container-2 {
  position: absolute;
  top: 65px;
  right: 4.996875%;
  z-index: 40;
  width: 43.203125%;
  height: 47px;
  min-height: 35px;
  padding: 6px;
  border-radius: 3px;
  background-color: rgba(255, 34, 12, 0.6);
}

.container-2:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: rgba(255, 34, 12, 0.6);
}

.container-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 17;
  width: 27.5781249999%;
  height: 397px;
  margin: 200px 0 0 5%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-4 {
  position: relative;
  float: left;
  z-index: 27;
  width: 27.5781249999%;
  height: 397px;
  margin: 200px 0 0 3.62183%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.container-5 {
  position: relative;
  float: left;
  z-index: 37;
  width: 27.5781249999%;
  height: 397px;
  margin: 200px 0 0 3.64502%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.container-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 59;
  width: 27.5781249999%;
  height: 362px;
  margin: 40px 0 0 5%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-7 {
  position: relative;
  float: left;
  z-index: 69;
  width: 27.5781249999%;
  height: 362px;
  margin: 40px 0 0 3.62183%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.container-8 {
  position: relative;
  float: left;
  z-index: 79;
  width: 27.5781249999%;
  height: 362px;
  margin: 40px 0 0 3.64502%;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.image-1 {
  left: 10%;
  z-index: 45;
}

.image-2 {
  right: 10%;
  z-index: 46;
}

.image-3 {
  position: relative;
  float: left;
  z-index: 6;
  margin: 20px 0 0 13.67188%;
}

.image-4 {
  position: relative;
  float: left;
  z-index: 7;
  margin: 20px 0 0 24.21875%;
}

.text-1 {
  width: 60.8133086876%;
  height: 25px;
  margin: 5px 0 0 3.14233%;
  padding: 4px;
  font-size: 0.75em;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

.text-10 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 50.9202453987%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  clear: both;
  z-index: 20;
  width: 30%;
  height: 45px;
  margin: 40px 0 0 -0.08767%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-14 {
  position: relative;
  clear: both;
  z-index: 23;
  width: 50.6134969325%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  z-index: 24;
  width: 30%;
  height: 45px;
  margin: 5px 0 0 0.38676%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-16 {
  position: relative;
  clear: both;
  z-index: 21;
  width: 50.9202453987%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-17 {
  position: relative;
  z-index: 25;
  width: 30%;
  height: 45px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-18 {
  position: relative;
  clear: both;
  z-index: 22;
  width: 50.9202453987%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-2 {
  position: absolute;
  top: 180px;
  left: 5%;
  z-index: 4;
  width: 19.21875%;
  min-height: 32px;
  font-family: Merriweather;
  font-size: 1.25em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-21 {
  position: relative;
  clear: both;
  z-index: 30;
  width: 30%;
  height: 45px;
  margin: 40px 0 0 -0.08767%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-22 {
  position: relative;
  clear: both;
  z-index: 33;
  width: 50.6134969325%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-23 {
  position: relative;
  z-index: 34;
  width: 30%;
  height: 45px;
  margin: 5px 0 0 0.38676%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-24 {
  position: relative;
  clear: both;
  z-index: 31;
  width: 50.9202453987%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-25 {
  position: relative;
  z-index: 35;
  width: 30%;
  height: 45px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-26 {
  position: relative;
  clear: both;
  z-index: 32;
  width: 50.9202453987%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-27 {
  float: left;
  clear: both;
  width: 19.21875%;
  min-height: 32px;
  margin: 37px 0 0 5%;
  font-family: Merriweather;
  font-size: 1.25em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-30 {
  position: relative;
  clear: both;
  z-index: 52;
  width: 42.5742574257%;
  height: 35px;
  margin-top: 40px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-31 {
  position: relative;
  z-index: 54;
  width: 56.7656765676%;
  min-height: 35px;
  margin: 40px 0 0 0.32488%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-32 {
  position: relative;
  clear: both;
  z-index: 55;
  width: 42.5742574257%;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-33 {
  position: relative;
  z-index: 53;
  width: 57.0957095709%;
  min-height: 35px;
  margin: 5px 0 0 0.32488%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-34 {
  position: relative;
  clear: both;
  z-index: 58;
  width: 42.5742574257%;
  height: 35px;
  margin: 8px 0 0 0.29394%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-35 {
  position: relative;
  clear: both;
  z-index: 57;
  width: 57.0957095709%;
  min-height: 35px;
  margin: -35px 0 0 43.22917%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-38 {
  position: relative;
  clear: both;
  z-index: 62;
  width: 42.5742574257%;
  height: 35px;
  margin-top: 40px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-39 {
  position: relative;
  z-index: 64;
  width: 56.7656765676%;
  min-height: 35px;
  margin: 40px 0 0 0.32488%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-40 {
  position: relative;
  clear: both;
  z-index: 65;
  width: 42.5742574257%;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-41 {
  position: relative;
  z-index: 63;
  width: 57.0957095709%;
  min-height: 35px;
  margin: 5px 0 0 0.32488%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-42 {
  position: relative;
  clear: both;
  z-index: 68;
  width: 42.5742574257%;
  height: 35px;
  margin: 8px 0 0 0.29394%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-43 {
  position: relative;
  clear: both;
  z-index: 67;
  width: 57.0957095709%;
  min-height: 35px;
  margin: -35px 0 0 43.22917%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-11,
.text-19,
.text-28,
.text-3,
.text-36,
.text-44 {
  width: 100%;
  min-height: 30px;
  margin-left: 0.29394%;
  font-size: 1em;
  letter-spacing: 2px;
  text-indent: 1px;
  color: rgba(248, 170, 0, 0.75);
}

.text-12,
.text-20,
.text-29,
.text-37,
.text-4,
.text-45 {
  clear: both;
  width: 98.1481481481%;
  max-width: 225px;
  min-height: 50px;
  margin: 10px 0 0 0.29394%;
  font: normal 1.563em/1.2 Merriweather-Regular;
  color: rgb(0, 0, 0);
}

.text-46 {
  position: relative;
  clear: both;
  z-index: 72;
  width: 42.5742574257%;
  height: 35px;
  margin-top: 40px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-47 {
  position: relative;
  z-index: 74;
  width: 56.7656765676%;
  min-height: 35px;
  margin: 40px 0 0 0.32488%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-48 {
  position: relative;
  clear: both;
  z-index: 75;
  width: 42.5742574257%;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-49 {
  position: relative;
  z-index: 73;
  width: 57.0957095709%;
  min-height: 35px;
  margin: 5px 0 0 0.32488%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-5 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 30%;
  height: 45px;
  margin: 40px 0 0 -0.08767%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-50 {
  position: relative;
  clear: both;
  z-index: 78;
  width: 42.5742574257%;
  height: 35px;
  margin: 8px 0 0 0.29394%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-51 {
  position: relative;
  clear: both;
  z-index: 77;
  width: 57.0957095709%;
  min-height: 35px;
  margin: -35px 0 0 43.22917%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 50.6134969325%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  z-index: 14;
  width: 30%;
  height: 45px;
  margin: 5px 0 0 0.38676%;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 11;
  width: 50.9202453987%;
  min-height: 45px;
  margin: -45px 0 0 52.90326%;
  font-size: 1em;
  font-weight: 300;
  text-indent: 1px;
  color: rgb(0, 0, 0);
}

.text-9 {
  position: relative;
  z-index: 15;
  width: 30%;
  height: 45px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-indent: 1px;
  color: rgb(205, 204, 204);
}

._button-12 {
  float: left;
  clear: both;
  width: 27.5781249999%;
  height: 45px;
  margin: 40px 0 0 67.4231%;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-indent: 1px;
}

._button-16 {
  float: left;
  clear: both;
  width: 27.5781249999%;
  height: 45px;
  margin: 40px 0 0 67.4231%;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

._button-5 {
  position: relative;
  float: left;
  z-index: 2;
  width: 9.0625%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 14.6875%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button-6 {
  position: relative;
  float: left;
  z-index: 1;
  width: 9.140625%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 1.01563%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button-7 {
  position: relative;
  float: left;
  z-index: 0;
  width: 10.078125%;
  min-width: none;
  height: 65px;
  min-height: nonepx;
  margin-left: 0.46875%;
  padding: 3px;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button-5:hover,
._button-6:hover,
._button-7:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.container ._button-1 {
  float: left;
  width: 12.03125%;
  height: 65px;
  margin-left: 20.625%;
  font-weight: 400;
}

.container ._button-10 {
  position: absolute;
  top: 332px;
  left: 0;
  z-index: 26;
  width: 100%;
  height: 65px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
}

.container ._button-11 {
  position: absolute;
  top: 332px;
  left: 0;
  z-index: 36;
  width: 100%;
  height: 65px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
}

.container ._button-13 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 56;
  width: 100%;
  height: 63px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

.container ._button-14 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 66;
  width: 100%;
  height: 63px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

.container ._button-15 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 76;
  width: 100%;
  height: 63px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

.container ._button-2 {
  float: left;
  width: 12.03125%;
  height: 65px;
  margin-left: 3.51563%;
  font-weight: 400;
}

.container ._button-3,
.container ._button-4 {
  float: left;
  width: 12.03125%;
  height: 65px;
  margin-left: 3.59375%;
  font-weight: 400;
}

.container ._button-8 {
  float: left;
  clear: both;
  width: 36.9685767097%;
  height: 47px;
  margin: -36px 0 0 64.14048%;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-indent: 1px;
}

.container ._button-9 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 16;
  width: 100%;
  height: 63px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(248, 170, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  text-indent: 1px;
}

@media(max-width: 1020px) {
  .container .image {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .image {
    position: relative;
    height: auto;
  }

  ._element,
  .container-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .image-2 {
    right: auto;
  }

  .container .text-1 {
    width: 60.6221884305%;
    margin-top: 3px;
    margin-left: -1.22836%;
  }

  .container .text-10 {
    position: relative;
    clear: none;
    z-index: 12;
    width: 92.8168787244%;
    margin-top: -15px;
    margin-left: 4.76255%;
  }

  .container .text-11 {
    position: relative;
    z-index: 19;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.77309%;
  }

  .container .text-12 {
    position: relative;
    z-index: 18;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.5736%;
  }

  .container .text-13 {
    position: relative;
    z-index: 20;
    width: 92.8168787244%;
    margin-top: 9px;
    margin-left: 3.5736%;
  }

  .container .text-14 {
    position: relative;
    z-index: 23;
    width: 92.8168787244%;
    margin-top: -195px;
    margin-left: 18.3138599999%;
  }

  .container .text-15 {
    position: relative;
    z-index: 24;
    width: 92.8168787244%;
    margin-top: -120px;
    margin-left: 4.64771%;
  }

  .container .text-16 {
    position: relative;
    clear: none;
    z-index: 21;
    width: 92.8168787244%;
    margin-top: 0;
    margin-left: 4.43829%;
  }

  .container .text-17 {
    position: relative;
    clear: both;
    z-index: 25;
    width: 92.8168787244%;
    margin-top: -110px;
    margin-left: 4.64771%;
  }

  .container .text-18 {
    position: relative;
    clear: none;
    z-index: 22;
    width: 92.8168787244%;
    margin-top: -15px;
    margin-left: 4.76255%;
  }

  .container .text-19 {
    position: relative;
    z-index: 29;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.77309%;
  }

  .container .text-20 {
    position: relative;
    z-index: 28;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.5736%;
  }

  .container .text-21 {
    position: relative;
    z-index: 30;
    width: 92.8168787244%;
    margin-top: 9px;
    margin-left: 3.5736%;
  }

  .container .text-22 {
    position: relative;
    z-index: 33;
    width: 92.8168787244%;
    margin-top: -195px;
    margin-left: 18.3138599999%;
  }

  .container .text-23 {
    position: relative;
    z-index: 34;
    width: 92.8168787244%;
    margin-top: -120px;
    margin-left: 4.64771%;
  }

  .container .text-24 {
    position: relative;
    clear: none;
    z-index: 31;
    width: 92.8168787244%;
    margin-top: 0;
    margin-left: 4.43829%;
  }

  .container .text-25 {
    position: relative;
    clear: both;
    z-index: 35;
    width: 92.8168787244%;
    margin-top: -110px;
    margin-left: 4.64771%;
  }

  .container .text-26 {
    position: relative;
    clear: none;
    z-index: 32;
    width: 92.8168787244%;
    margin-top: -15px;
    margin-left: 4.76255%;
  }

  .container .text-28 {
    position: relative;
    z-index: 51;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.77309%;
  }

  .container .text-29 {
    position: relative;
    z-index: 50;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.5736%;
  }

  .container .text-3 {
    position: relative;
    z-index: 9;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.77309%;
  }

  .container .text-30 {
    position: relative;
    z-index: 52;
    width: 92.8168787244%;
    margin-top: 9px;
    margin-left: 3.5736%;
  }

  .container .text-31 {
    position: relative;
    clear: both;
    z-index: 54;
    width: 92.8168787244%;
    margin-top: -195px;
    margin-left: 18.3138599999%;
  }

  .container .text-32 {
    position: relative;
    clear: none;
    z-index: 55;
    width: 92.8168787244%;
    margin-top: -120px;
    margin-left: 4.64771%;
  }

  .container .text-33 {
    position: relative;
    z-index: 53;
    width: 92.8168787244%;
    margin-top: 0;
    margin-left: 4.43829%;
  }

  .container .text-34 {
    position: relative;
    z-index: 58;
    width: 92.8168787244%;
    margin-top: -157px;
    margin-left: 0.38506%;
  }

  .container .text-35 {
    position: relative;
    z-index: 57;
    width: 92.8168787244%;
    margin-top: -157px;
    margin-left: 75.89678%;
  }

  .container .text-36 {
    position: relative;
    z-index: 61;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.77309%;
  }

  .container .text-37 {
    position: relative;
    z-index: 60;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.5736%;
  }

  .container .text-38 {
    position: relative;
    z-index: 62;
    width: 92.8168787244%;
    margin-top: 9px;
    margin-left: 3.5736%;
  }

  .container .text-39 {
    position: relative;
    clear: both;
    z-index: 64;
    width: 92.8168787244%;
    margin-top: -195px;
    margin-left: 18.3138599999%;
  }

  .container .text-4 {
    position: relative;
    z-index: 8;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.5736%;
  }

  .container .text-40 {
    position: relative;
    clear: none;
    z-index: 65;
    width: 92.8168787244%;
    margin-top: -120px;
    margin-left: 4.64771%;
  }

  .container .text-41 {
    position: relative;
    z-index: 63;
    width: 92.8168787244%;
    margin-top: 0;
    margin-left: 4.43829%;
  }

  .container .text-42 {
    position: relative;
    z-index: 68;
    width: 92.8168787244%;
    margin-top: -157px;
    margin-left: 0.38506%;
  }

  .container .text-43 {
    position: relative;
    z-index: 67;
    width: 92.8168787244%;
    margin-top: -157px;
    margin-left: 75.89678%;
  }

  .container .text-44 {
    position: relative;
    z-index: 71;
    width: 43.8395876952%;
    margin-top: 160px;
    margin-left: 52.77309%;
  }

  .container .text-45 {
    position: relative;
    z-index: 70;
    width: 43.9442744403%;
    margin-top: 7px;
    margin-left: 3.5736%;
  }

  .container .text-46 {
    position: relative;
    z-index: 72;
    width: 92.8168787244%;
    margin-top: 9px;
    margin-left: 3.5736%;
  }

  .container .text-47 {
    position: relative;
    clear: both;
    z-index: 74;
    width: 92.8168787244%;
    margin-top: -195px;
    margin-left: 18.3138599999%;
  }

  .container .text-48 {
    position: relative;
    clear: none;
    z-index: 75;
    width: 92.8168787244%;
    margin-top: -120px;
    margin-left: 4.64771%;
  }

  .container .text-49 {
    position: relative;
    z-index: 73;
    width: 92.8168787244%;
    margin-top: 0;
    margin-left: 4.43829%;
  }

  .container .text-5 {
    position: relative;
    z-index: 10;
    width: 92.8168787244%;
    margin-top: 9px;
    margin-left: 3.5736%;
  }

  .container .text-50 {
    position: relative;
    z-index: 78;
    width: 92.8168787244%;
    margin-top: -157px;
    margin-left: 0.38506%;
  }

  .container .text-51 {
    position: relative;
    z-index: 77;
    width: 92.8168787244%;
    margin-top: -157px;
    margin-left: 75.89678%;
  }

  .container .text-6 {
    position: relative;
    z-index: 13;
    width: 92.8168787244%;
    margin-top: -195px;
    margin-left: 18.3138599999%;
  }

  .container .text-7 {
    position: relative;
    z-index: 14;
    width: 92.8168787244%;
    margin-top: -120px;
    margin-left: 4.64771%;
  }

  .container .text-8 {
    position: relative;
    clear: none;
    z-index: 11;
    width: 92.8168787244%;
    margin-top: 0;
    margin-left: 4.43829%;
  }

  .container .text-9 {
    position: relative;
    clear: both;
    z-index: 15;
    width: 92.8168787244%;
    margin-top: -110px;
    margin-left: 4.64771%;
  }

  .container-2 {
    right: auto;
  }

  .container-3 {
    position: relative;
    clear: none;
    z-index: 17;
    margin-top: 149px;
    margin-left: 6.27451%;
  }

  .container-4 {
    position: relative;
    z-index: 27;
    margin-top: 220px;
    margin-left: 11.57016%;
  }

  .container-5 {
    position: relative;
    clear: both;
    z-index: 37;
    margin-top: -397px;
    margin-left: 84.60938%;
  }

  .container-6 {
    position: relative;
    z-index: 59;
    margin-top: -516px;
    margin-left: 6.27451%;
  }

  .container-7 {
    position: relative;
    z-index: 69;
    margin-top: -516px;
    margin-left: 45.42739%;
  }

  .container-8 {
    position: relative;
    clear: both;
    z-index: 79;
    margin-top: -516px;
    margin-left: 84.60938%;
  }

  .image-3 {
    z-index: 6;
  }

  .image-4 {
    z-index: 7;
    margin-top: -25px;
    margin-left: 84.29688%;
  }

  .text-2 {
    left: auto;
  }

  .text-27 {
    float: right;
    margin-top: 593px;
    margin-right: 63.23376%;
    margin-left: 0;
  }

  ._button-12 {
    clear: none;
    margin-left: 67.42188%;
  }

  ._button-16 {
    clear: none;
    margin-top: 269px;
    margin-left: 67.42188%;
  }

  ._button-5 {
    position: relative;
    clear: both;
    z-index: 2;
    margin-top: -168px;
    margin-left: 5.37684%;
  }

  ._button-6 {
    position: relative;
    z-index: 1;
    margin-top: -168px;
    margin-left: 26.58701%;
  }

  ._button-7 {
    position: relative;
    z-index: 0;
    margin-top: -168px;
    margin-left: 37.68076%;
  }

  ._button-5:hover,
  ._button-6:hover,
  ._button-7:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .container ._button-1 {
    position: relative;
    z-index: 44;
    margin-top: -123px;
    margin-left: 5.37684%;
  }

  .container ._button-13,
  .container ._button-14,
  .container ._button-15,
  .container ._button-9 {
    bottom: 79px;
  }

  .container ._button-2 {
    position: relative;
    z-index: 43;
    margin-top: -123px;
    margin-left: 26.58701%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 42;
    margin-top: -123px;
    margin-left: 37.68076%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 41;
    margin-top: -123px;
    margin-left: 48.82506%;
  }

  .container ._button-8 {
    width: 39.536209846%;
    margin-top: -34px;
    margin-left: 61.43977%;
  }
}

@media(max-width: 750px) {
  body {
    font-size: 1em;
  }

  .container .image {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .image {
    height: auto;
  }

  ._element,
  .container-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-1 {
    width: 61.4769418003%;
    margin-top: 4px;
    margin-left: -1.66692%;
  }

  .container .text-10 {
    position: relative;
    z-index: 12;
    width: 93.1625810706%;
    margin-left: 6.63545%;
  }

  .container .text-11 {
    position: relative;
    z-index: 19;
    width: 44.0035176431%;
    margin-left: 52.7348799999%;
  }

  .container .text-12 {
    position: relative;
    z-index: 18;
    width: 44.1024513575%;
    margin-left: 3.55684%;
  }

  .container .text-13 {
    position: relative;
    z-index: 20;
    width: 93.1625810706%;
    margin-left: 3.55684%;
  }

  .container .text-14 {
    position: relative;
    z-index: 23;
    width: 93.1625810706%;
    margin-left: 25.53552%;
  }

  .container .text-15 {
    position: relative;
    z-index: 24;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-16 {
    position: relative;
    z-index: 21;
    width: 93.1625810706%;
    margin-left: 5.99781%;
  }

  .container .text-17 {
    position: relative;
    z-index: 25;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-18 {
    position: relative;
    z-index: 22;
    width: 93.1625810706%;
    margin-left: 6.63545%;
  }

  .container .text-19 {
    position: relative;
    z-index: 29;
    width: 44.0035176431%;
    margin-left: 52.7348799999%;
  }

  .container .text-20 {
    position: relative;
    z-index: 28;
    width: 44.1024513575%;
    margin-left: 3.55684%;
  }

  .container .text-21 {
    position: relative;
    z-index: 30;
    width: 93.1625810706%;
    margin-left: 3.55684%;
  }

  .container .text-22 {
    position: relative;
    z-index: 33;
    width: 93.1625810706%;
    margin-left: 25.53552%;
  }

  .container .text-23 {
    position: relative;
    z-index: 34;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-24 {
    position: relative;
    z-index: 31;
    width: 93.1625810706%;
    margin-left: 5.99781%;
  }

  .container .text-25 {
    position: relative;
    z-index: 35;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-26 {
    position: relative;
    z-index: 32;
    width: 93.1625810706%;
    margin-left: 6.63545%;
  }

  .container .text-28 {
    position: relative;
    z-index: 51;
    width: 44.0035176431%;
    margin-left: 52.7348799999%;
  }

  .container .text-29 {
    position: relative;
    z-index: 50;
    width: 44.1024513575%;
    margin-left: 3.55684%;
  }

  .container .text-3 {
    position: relative;
    z-index: 9;
    width: 44.0035176431%;
    margin-left: 52.7348799999%;
  }

  .container .text-30 {
    position: relative;
    z-index: 52;
    width: 93.1625810706%;
    margin-left: 3.55684%;
  }

  .container .text-31 {
    position: relative;
    z-index: 54;
    width: 93.1625810706%;
    margin-left: 25.53552%;
  }

  .container .text-32 {
    position: relative;
    z-index: 55;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-33 {
    position: relative;
    z-index: 53;
    width: 93.1625810706%;
    margin-left: 5.99781%;
  }

  .container .text-34 {
    position: relative;
    z-index: 58;
    width: 93.1625810706%;
    margin-top: -188px;
    margin-left: 0.5679%;
  }

  .container .text-35 {
    position: relative;
    z-index: 57;
    width: 93.1625810706%;
    margin-top: -188px;
    margin-left: 111.93584%;
  }

  .container .text-36 {
    position: relative;
    z-index: 61;
    width: 44.0035176431%;
    margin-left: 52.7348799999%;
  }

  .container .text-37 {
    position: relative;
    z-index: 60;
    width: 44.1024513575%;
    margin-left: 3.55684%;
  }

  .container .text-38 {
    position: relative;
    z-index: 62;
    width: 93.1625810706%;
    margin-left: 3.55684%;
  }

  .container .text-39 {
    position: relative;
    z-index: 64;
    width: 93.1625810706%;
    margin-left: 25.53552%;
  }

  .container .text-4 {
    position: relative;
    z-index: 8;
    width: 44.1024513575%;
    margin-left: 3.55684%;
  }

  .container .text-40 {
    position: relative;
    z-index: 65;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-41 {
    position: relative;
    z-index: 63;
    width: 93.1625810706%;
    margin-left: 5.99781%;
  }

  .container .text-42 {
    position: relative;
    z-index: 68;
    width: 93.1625810706%;
    margin-top: -188px;
    margin-left: 0.5679%;
  }

  .container .text-43 {
    position: relative;
    z-index: 67;
    width: 93.1625810706%;
    margin-top: -188px;
    margin-left: 111.93584%;
  }

  .container .text-44 {
    position: relative;
    z-index: 71;
    width: 44.0035176431%;
    margin-left: 52.7348799999%;
  }

  .container .text-45 {
    position: relative;
    z-index: 70;
    width: 44.1024513575%;
    margin-left: 3.55684%;
  }

  .container .text-46 {
    position: relative;
    z-index: 72;
    width: 93.1625810706%;
    margin-left: 3.55684%;
  }

  .container .text-47 {
    position: relative;
    z-index: 74;
    width: 93.1625810706%;
    margin-left: 25.53552%;
  }

  .container .text-48 {
    position: relative;
    z-index: 75;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-49 {
    position: relative;
    z-index: 73;
    width: 93.1625810706%;
    margin-left: 5.99781%;
  }

  .container .text-5 {
    position: relative;
    z-index: 10;
    width: 93.1625810706%;
    margin-left: 3.55684%;
  }

  .container .text-50 {
    position: relative;
    z-index: 78;
    width: 93.1625810706%;
    margin-top: -188px;
    margin-left: 0.5679%;
  }

  .container .text-51 {
    position: relative;
    z-index: 77;
    width: 93.1625810706%;
    margin-top: -188px;
    margin-left: 111.93584%;
  }

  .container .text-6 {
    position: relative;
    z-index: 13;
    width: 93.1625810706%;
    margin-left: 25.53552%;
  }

  .container .text-7 {
    position: relative;
    z-index: 14;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container .text-8 {
    position: relative;
    z-index: 11;
    width: 93.1625810706%;
    margin-left: 5.99781%;
  }

  .container .text-9 {
    position: relative;
    z-index: 15;
    width: 93.1625810706%;
    margin-left: 6.46608%;
  }

  .container-2 {
    padding: 5px;
  }

  .container-3 {
    position: relative;
    z-index: 17;
    margin-left: 8.53125%;
  }

  .container-4 {
    position: relative;
    z-index: 27;
    margin-left: 25.67292%;
  }

  .container-5 {
    position: relative;
    z-index: 37;
    margin-left: 115.06875%;
  }

  .container-6 {
    position: relative;
    z-index: 59;
    margin-top: -442px;
    margin-left: 8.53125%;
  }

  .container-7 {
    position: relative;
    z-index: 69;
    margin-top: -442px;
    margin-left: 61.78125%;
  }

  .container-8 {
    position: relative;
    z-index: 79;
    margin-top: -442px;
    margin-left: 115.06875%;
  }

  .image-3 {
    position: relative;
    z-index: 6;
    margin-left: 13.66875%;
  }

  .image-4 {
    position: relative;
    z-index: 7;
    margin-left: 84.29167%;
  }

  .text-27 {
    margin-top: 519px;
    margin-right: 50%;
  }

  ._button-12 {
    margin-left: 67.42292%;
  }

  ._button-16 {
    margin-top: 343px;
    margin-left: 67.42292%;
  }

  ._button-5 {
    position: relative;
    z-index: 2;
    margin-left: 4.16667%;
  }

  ._button-6 {
    position: relative;
    z-index: 1;
    margin-left: 25.36875%;
  }

  ._button-7 {
    position: relative;
    z-index: 0;
    margin-left: 36.46875%;
  }

  .container ._button-1 {
    position: relative;
    z-index: 44;
    margin-left: 4.16667%;
  }

  .container ._button-2 {
    position: relative;
    z-index: 43;
    margin-left: 25.36875%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 42;
    margin-left: 36.46875%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 41;
    margin-left: 47.6%;
  }

  .container ._button-8 {
    width: 40.3355500499%;
    margin-top: -35px;
    margin-left: 61.53655%;
  }
}