#addAthlete {
    display: inline-block;
    height: 35px;
    width: auto;
    position: relative;
    padding: 10px;
    top: 85px;
    float: right;
    right: 96px;
    border: none;
	background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 6px 0 rgba(205,205,205,0.5);
}
#addAthlete > img {
    width: 20px;
    float: right;
    margin:  10px 25px;
    
}
#addAthlete > h2 {
	width: auto;
    float: left;
    margin: 10px;
	color: rgba(248,170,0,0.75);
	font-size: 20px;
	font-weight: 400;
	line-height: inherit;
}

.listPreview {
    position: relative;
    top: 100px;
    padding: 30px;
    width: 95%;
    height: auto;
    
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
   
}

.listPreview > .athleteCard {
    position: relative;
	height: 370px;
	width: auto;
	border-radius: 5px;
	background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 5px 0 #CDCDCD;
}

.athleteCard {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: -5px;
}


.athleteCard > #athletePhoto {
    background-color: antiquewhite;
    grid-row: 1/10;
}

#birthdate > h2 {
    display: inline;
    width: 30%;
    margin: 0 5px;
}

#previewWeapons > h2 {
    display: inline;
    width: 30%;
    margin: 0 5px;
}


#card-1 > #sabre {
    display: none;
}

h2#licenseNumber {
    margin: 10px 0;
    color: rgba(248,170,0,0.75);
}

 h2.subInfo {
    color: rgb(205,205,205);
    line-height: inherit;
     
}

.athleteCard > h2 {
	height: auto;
	width: 180px;
	color: #000000;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
    text-align: left;
}