#home > h3 {
    width: 100%;
    margin: 50px;
    
}

#home > h2 {
    margin: 2em 10em;
    color: rgba(0,0,0,0.4);
}


a {
    height: inherit;
    width: 100%;
    background-color: rgba(248,170,0,0.15);
}


#home > a .competitionCard {
    position: relative;
	height: 290px;
	width: 100%;
    padding: 35px;
    margin: 10px 0;
	border-radius: 3px;
	background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 5px 0 rgba(205,205,205,0.5);

    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: -5px;
}


a > .competitionCard > #date {
        grid-column: 1/2;
}
a > .competitionCard #date h2 {
    display: inline;
    width: 30%;
    margin-right: 10px;
    
    font-size: 25px;
    font-weight: 500;
    color: rgba(248,170,0,0.75);
}

a > .competitionCard h3#fullName {
    grid-column: 1/2;
    font-size: 30px;
}

a > .competitionCard .subInfo {
    grid-column: 1;
}