
.licenseCard {
    display: inline-grid;
    width: 100%;
    height: inherit;
    position: relative;
    margin-top: 60px;
    padding: 25px;
    
    grid-template-columns: 1fr 1fr;
    
    background-color:  rgba(221,221,221,0.54);
    
    
}

.licenseCard > h1,h2 {
    text-decoration: none;
}

.licenseCard#fullName {
    grid-column: 1/2;
}

.licenseCard > #date {
    display: inline;
    grid-column: 2;
}

.licenseCard > #date h2{
    width: 30px;
    margin: 1em;
}
.licenseCard > .subInfo {

	width: inherit;
	color: #CDCDCD;
	font-weight: 500;
	line-height: 16px;
    padding-right: 60px;
    text-align: right;
    
    grid-column: 1;
}


