.crudButton {
    display: inline-block;
    height: 25px;
    width: auto;
    position: relative;
    
    padding: 5px 10px;
    margin: 20px;
    right: 4em;
    top: 4em;
    float: right;
    
    border: none;
    border-radius: 3px;
    overflow: hidden;
	background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 6px 0 rgba(205,205,205,0.5);
}

    .crudButton > img {
        height: 15px;
        align-self: center;
        margin-top: 5px;   
    }

    .crudButton > h2 {
        width: auto;
        float: left;
        color: rgba(248,170,0,0.75);
        font-size: 15px;
        font-weight: 400;
        margin: 8px;
    }

#athleteCard {
    position: relative;
    display: inline-grid;
    padding: 10px 0;
    margin-top: 60px;
	height: 608px;
	width: 100%;
    
	border-radius: 5px;
	background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 7px 0 rgba(205,205,205,0.5);
    
    grid-template-columns: 3fr 1fr 3fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 1em;
    align-content: center;
    justify-content: center;
}


/*athlete card*/
#athletePhoto {
    align-items: center;
    grid-row: 1/9;    
    overflow: hidden;
}

    #athletePhoto > img{
        height: auto;
        width: 70%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 15px;
        margin-left: 5em;
}



 .subInfo {
    color: rgb(205,205,205);
    grid-column: 2;    
}

.info {
    grid-column: 3;
    height: auto;
	color: #000000;
	font-weight: 300;
	letter-spacing: 2.8px;
/*	line-height: 16px;*/
}

.info > h2 {
     height: 40px;
	color: #000000;
	font-weight: 300;
	letter-spacing: 2.8px;
	line-height: 16px;
}

#birthdate > h2 {
    display: inline;
    width: 30%;
    margin-left: 5px;
}

#athleteCard > #weapons {
    height: auto;
    margin: 10px 0;
}

#previewWeapons > h2 {
    display: inline;
    width: 30%;
    margin: 0 5px;
}


h2#licenseNumber {
    font-weight: 500;
    margin: 10px 0;
    color: rgba(248,170,0,0.75);
}

#fullName {

	color: #000000;
    font-weight: 400;
    font-size: 2em;
    margin: 5px;
    padding: none;
}

/*athlete's information*/

#athleteInfo {
    height: 1000px;
    width: 100%;
    grid-template: 1fr 5fr;
    grid-column-gap: 1em;
}

#submenu {
    display: inline;
    text-align: center;
}

#submenu > h2 {
    width: 20%;
    height: auto;
    margin: 5px;
    
}