.listLicenses {
    position: relative;
    top: 2em;
}


.licenseCard {
    display: inline-grid;
    width: 70%;
    height: inherit;
    position: relative;
    margin: 30px 160px;
    padding: 1em 4em;
    background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 5px 0 #CDCDCD;
    
    grid-template-columns: 1fr 1fr;
    background-color:  rgba(221,221,221,0.54); 
      
    text-decoration: none;
}

#card-current{
    background-image: url(../Content/Background_2.jpg);
    background-size: cover;
    background-position: center;
}

#card-past-1{
    background-image: url(../Content/Background_1.png);
    background-size: cover;
}

#card-past-2{
    background-image: url(../Content/Background_3.png);
    background-size: cover;
}

.licenseCard > h1,h2 {
    text-decoration: none;
}

.licenseCard#fullName {
    grid-column: 1/2;
    margin-left: 50px;
}

.licenseCard > #date {
    display: inline;
    grid-column: 2;
}

.licenseCard > #date h2{
    width: 30px;
    margin: 1em;
}
.licenseCard > .subInfo {

	width: inherit;
	color: #CDCDCD;
	font-weight: 500;
	line-height: 16px;
    padding-right: 60px;
    text-align: right;
    
    grid-column: 1;
}




