#competitionCard {
    position: relative;
    display: inline-grid;
    padding: 20px 0;
    margin-top: 70px;
	height: 608px;
	width: 100%;
    
	border-radius: 5px;
	background-color: rgba(189,189,189,0.1);
	box-shadow: 0 2px 7px 0 rgba(205,205,205,0.5);
    
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2em;
}

 .subInfo {
    color: rgb(205,205,205);
    line-height: inherit;
    padding-left: 100px;
    grid-column: 1;    
}

.info {
    grid-column: 2;
    height: auto;
	color: #000000;
	font-weight: 300;
	letter-spacing: 2.8px;
/*	line-height: 16px;*/
}

.info > h2 {
     height: 40px;
	color: #000000;
	font-weight: 300;
	letter-spacing: 2.8px;
	line-height: 16px;
}

.date {
   padding: 10px 0;
}

.date > h2 {
    display: inline;
    width: 30%;
    font-weight: 500;
    margin: 5px;
    color: rgba(248,170,0,0.75);
}

#fullTitle {
	height: 80px;
	width: 460px;
	color: #000000;
	font-size: 35px;
	line-height: inherit;
}



#competitionReg {
    display: inline-grid;
    height: 1000px;
    width: 100%;
    grid-template-columns: 1fr 1fr 5fr;
/*    grid-gap: 1em;*/
    
}

#eventSubmenu {
    height: 100%;
    width: 180px;
	background-color: rgba(189,189,189,0.05);
    grid-column: 1;
}

#submenu {
     height: 100%;
    width: 180px;
	background-color: rgba(189,189,189,0.15);
}
#selected {
    
background-color: #FFFFFF;	
        box-shadow: inset 0 1px 6px 0 rgba(205,205,205,0.5);
}


.icon {
    vertical-align: middle;
    height: 25px;
    margin: 30px;
}

#submenu > a, #eventSubmenu > a{
    display: block;
     height: 40px;
    padding: 10px 20px;
    margin: 10px;
}


/*table style*/

table {
    position: relative;
    border: 2px solid rgba(248,170,0,0.75);
    border-radius: 4px;
    height: inherit;
    width: inherit;
    margin: 5%;
}

table > tbody #tableHeader h2, .scores {
    color: #CDCDCD;
    text-align: center;
}

 td {
        height: 2em;
        padding: 5px 20px;
    }

#tableHeader > td {
    height: 3em;
    align-content: center;
    vertical-align: middle;
}

tr > td#void {
    background-color: rgba(248,170,0,0.75);
    opacity: 40%;
    
}

tr:hover {
     background-color: rgba(248,170,0,0.3);
}

tr > td.scores {
    width: 2.5em;
}


