body {
    display: block;
    background-image: url("../Content/Background_Welcome.jpg");
    background-repeat: no-repeat;
    background-color: firebrick;
    background-size: cover;
}

#SignIn {
    position: fixed;

    margin: 15em 10em;
    width: 50%;
    height: auto; 
}

#Title {
    left: 0px;
}


input {
    box-sizing: border-box;	
    height: 60px;	
    width: 500px;
    margin: 1em 0 ; 
    
    border: 1px solid #CDCDCD;	
    opacity: 0.6;	
    border-radius: 3px;	
    background-color: #FFFFFF;	
    box-shadow: 0 1px 2px 0 #004E8B;}

input::placeholder {
    font-family: Merriweeather;
    font-size: 15px;
    font-weight: 400;
    color: #004C87;
}

button {
    height: 4em;
	width: 10em;
    border-radius: 5px;
    margin: 1em;
}


h1 {		
    color: #FFFFFF;	
    font-family: Roboto;	
    font-size: 65px;	
    font-weight: 700;
    margin: 1px;
}

h2 {
    font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	text-shadow: 0 1px 0 0 rgba(255,255,255,0.2);
    text-align: center;
    vertical-align: middle;
    align-content: center;

}

h6 {
	color: rgba(255,255,255,0.75);
	font-family: Roboto;
	font-size: 16px;
    
    margin: 0 0 3em 0;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #004C87; 
}

#Submit a {
    color: #004C87;
}